@tailwind base;

html,
body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind components;
@tailwind utilities;

:root {
  --color-background: 30deg 20% 95%;
}

.dark {
  --color-background: 214deg 9% 15%;
}
