---
import BaseLayout from '../layouts/BaseLayout.astro'
import Link from '../components/Link.svelte'
---

<BaseLayout>
  <h1 class="sr-only">Johan West</h1>
  <img src="/assets/animoji3.png" alt="animoji" class="w-40 h-40 mx-auto" />
  <p>Hello there!</p>
  <p>
    I'm a versatile software developer based in Stockholm, Sweden <span
      role="img"
      aria-label="flag of sweden">🇸🇪</span
    >
  </p>
  <p>
    My core expertise leans towards the front-end side of web development,
    although I am comfortable across the stack. I've worked within the Node.js
    ecosystem since 2014.
  </p>
  <p>
    I'm equally passionate about creating great user experiences as developer
    experiences. Whenever I have some downtime I often find myself tinkering
    with internal tooling to make the work day of myself and my colleagues more
    convenient.
  </p>
  <p>
    You can find me on <Link external href="https://github.com/mrwest808"
      >GitHub</Link
    > and <Link external href="https://twitter.com/jaywest808">Twitter</Link>.
  </p>
  <p>
    Regards<br />
    Johan West
  </p>
</BaseLayout>
